<header>
  <h1 class='header_msg'>
    Welcome to SplitScreen!
  </h1>
</header>

<div class='gallery_container'>
  <div class='gallery_header' style='text-align: center'>
  </div>
  <div class='gallery'>
    <%@images.each do |image|%>
      <div id='<%= image.image_path %>' class='post'>
        <img src='<%="/uploads/images/#{image.image_path}" %>' alt='pic'>
        <div class='black-overlay'></div>
      </div>
    <% end %>
  </div>
</div>

<footer></footer>

<script type="text/javascript">
  var regButton = document.getElementById('register_btn');
  regButton.addEventListener('click', function() {
    window.location.href = "/register";
  });

  document.getElementById('logout_btn').style.display = "<%= session[:logged] %>";
  document.getElementById('register_btn').style.display = "<%= session[:signup] %>";

</script>
