<header>
  <h1 class='header_msg'>
    Welcome to SplitScreen!
  </h1>
</header>

<div class='gallery_container'>
  <div class='gallery_header' style='text-align: center'>
    <input id='searchbar' type='text' name='search_query' maxlength='50'>
    <div class='suggested_search'>
      <div class='search_wrap'>
        <ul>
          <li> <i class="fa fa-gamepad" style='color: red;'></i> Grand Theft Auto </li>
          <li> <i class="fa fa-gamepad" style='color: red;'></i> Assassins Creed </li>
        </ul>
      </div>
    </div>
    <div class='searchbox'>
      <i class="fa fa-search fa-lg"></i> Search
    </div>
    <div class='search_selection'>
      <input type='radio' name='search_type' value='gallery'> Gallery
      <input type='radio' name='search_type' value='profile'> Profiles
    </div>
  </div>
  <div class='clear'>

  </div>
  <div class='hold_gallery'>
    <div class='gallery'>
        <%= erb :gallery %>
    </div>
    <div id='loadit' class='load_gif'>
      <img id='load' src='http://press.solarimpulse.com/img/ajax_loader.gif'>
    </div>
  </div>
</div>

<footer></footer>

<script type="text/javascript">
  $('input[name="search_type"]').on('change', function(e) {
    console.log($(this).val());
    $.ajax({
      type: 'GET',
      url: '/',
      data: 'd',
      success: function(data) {

      },
      dataType: 'json'
    });
  });
  var regButton = document.getElementById('register_btn');
  regButton.addEventListener('click', function() {
    window.location.href = "/register";
  });

  document.getElementById('logout_btn').style.display = "<%= session[:logged] %>";
  document.getElementById('register_btn').style.display = "<%= session[:signup] %>";


  var client = {
    total: 20,
  };

  function getImages() {
    $.ajax({
      type: "GET",
      url: '/images/more',
      data: client,
      success: function(data) {
        if (data.done) {
          $(window).off('.imageupdater');
          console.log('woww!');
        } else {
          data.forEach(function(thing) {
            makePost(thing);
          });
          client.total += 4;
          $(window).on('scroll.imageupdater', checkScroll);
        };
        $('#loadit').hide();
      },
      dataType: 'json'
    });
  };

  function makePost(image) {
    var post = $('<div id="' + image.image_path + '" class="post"></div>');
    var link = $('<a href="/images/' + image.id + '"></a>');
    var img = $('<img src="/uploads/images/' + image.image_path + '" alt="pic">');
    var section = $('<div class="section"></div>');
    var black_overlay = $("<div class='black-overlay'> <div class='pull-top'> <div class='image-title'>" + image.title + "</div></div></div>")
    var bottom = $("<div class='bottom'><span class='white'>Uploaded By:</span> <a href='/profile/" + image.user_name + "'><span class='user'> " + image.user_name + " </span></a></div>")
    $(post).append($(img));
    $(section).append($(black_overlay))
    $(post).append($(section));
    $(post).append($(bottom));
    $(link).append($(post));
    $('.gallery').append($(link));
  }

  var checkScroll = function(e) {
    var maxScrollHeight = $(document).height() - $(window).height();
    var updateHeight = maxScrollHeight - (maxScrollHeight * 0.1);
    var scrollHeight = $(document).scrollTop();

    if (scrollHeight > updateHeight) {
      $('#loadit').css('display', 'block');
      getImages();
      $(window).off('.imageupdater');
    };
  }

  $(window).on('scroll.imageupdater', checkScroll);

</script>
