<section class="login_form">
  <div class="form_fields">
      <h1>Sign In</h1>
    </div>
    <div class="form_fields invalid">
      <%= @message %>
    </div>
    <form action="/login" method="post">
      <div class="form_fields">
        <input type="text" name="user_name" placeholder="Username">
      </div>
      <div class="form_fields">
        <input type="password" name="password" placeholder="Password">
      </div>
      <div class="form_fields">
        <input type="submit" id="register_submit" value="Submit">
        <input type="button" id="cancel_btn" value="Cancel">
      </div>
    </form>
</section>

<script type="text/javascript">

  var cancelButton = document.getElementById('cancel_btn');
  cancelButton.addEventListener('click', function() {
    window.location.href = "/";
  });

  document.getElementById('logout_btn').style.display = "<%= @logged %>";
  document.getElementById('register_btn').style.display = "<%= @signup %>";
</script>
