<h1><%= session[:message] %></h1>

<script type="text/javascript">
  document.getElementById('logout_btn').style.display = "<%= session[:logged] %>";
  document.getElementById('register_btn').style.display = "<%= session[:signup] %>";
</script>
