<h1>You must be logged in to view this page.</h1>


<script type="text/javascript">
  document.getElementById('logout_btn').style.display = "<%= session[:logged] %>";
  document.getElementById('register_btn').style.display = "<%= session[:signup] %>";
</script>
