<div class='wrapper'>
  <div class='upload'>
    <h1>
      Upload an Image:
    </h1>
    <div class='invalid'>
      <%= @message %>
    </div>
    <br>
    <form method='POST' action='/images/upload' enctype='multipart/form-data'>
      <label for='title'>Image Title:</label>
      <input type='text' name='title' maxlength='50'>
      <div class='tags'>
        <label for='tag'>Add Tag: (Atleast 3 Characters)</label>
        <input id='tag' type='text' maxlength='18'>
        <input class='hidden' name='tags' type='text'>
        <div id='add-tag'>
          Add
        </div>
        <div id='added-tags'>
        </div>
      </div>
      <div class='button-holder'>
        <div id='upload-img-wrapper'>
          <div id='upload-text'>
            Browse Files
          </div>
          <input id='upload-img' type='file' name='pic' accept='image/*'>
        </div>
        <div id='filename'>
        </div>
        <input id='confirm-upload' type='submit' value='Upload'>
      </div>
    </form>
  </div>
</div>

<script type='text/javascript'>
  var file = document.getElementById('upload-img');
  var namefile = document.getElementById('filename');
  $('#add-tag').on('click', function(e) {
    var tag = $('#tag').val();

    if (tag.length >= 3) {
      var current_tags = $('input[name="tags"]').val();
      if (!current_tags) {
        current_tags = tag;
      } else {
        current_tags += ',' + tag;
      }
      $('input[name="tags"]').val(current_tags)
      $('#tag').val('');
      $('#added-tags').append('<div class="tag">' + tag + '</div>');
    };
  });

  file.addEventListener('change', function(e) {
    var filename = file.value.split("C:\\fakepath\\").join("");
    namefile.innerHTML = filename;
  })
</script>
