body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #eee;
}

input {
  height: 38px;
  border-radius: 4px;
  border: 1px solid #bbb;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(0, 169, 255);
}

.hidden {
  display: none;
}

#user-anchor {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .1rem;
  margin-right: 8px;
  color: white;
}

#user-anchor:hover {
  text-decoration: underline;
  font-weight: 600;
}

input[type="button"], [type="submit"], #change-comment-state {
  cursor: pointer;
  letter-spacing: .1rem;
  color: white;
  height: 38px;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 0 30px;
  box-sizing: border-box;
}


input[type="button"]:hover, [type="submit"]:hover {
  outline: 0;
}



/*----------------------------------------------------------------------------*/

#login_btn:hover {
  background-color: rgb(96, 195, 220);
}

#cancel_btn {
  background-color: rgb(254, 94, 58);
}

#cancel_btn:hover {
  background-color: rgb(242, 82, 46);
}

#register_submit {
  background-color: rgb(108, 209, 234);
  background-color: #98dafc;
}

#register_submit:hover {
  background-color: rgb(96, 195, 220);
}

#upload_btn:hover {
  background-color: rgb(83, 220, 146);
}

#register_btn {
  text-transform: uppercase;
  background-color: rgb(236, 74, 254);
  background-color: #fff;
  color: #111;
}

#register_btn:hover {
  background-color: #daad86;
  background-color: #fa7973;
  color: #fff;
}

#logout_btn {
  display: none;
  float: right;
  margin: 0 auto;
  margin-left: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  height: 38px;
  padding: 0 30px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  color: white;
}

.register_form, .login_form {
  width: 314px;
  margin: 0 auto;
}

.edit-profile {
  width: 420px;
  margin: 0 auto;
}

input[type="checkbox"] {
  line-height: 16px;
  font-size: 10px;
  padding: 0;
  margin: 8px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #bbb;
}

/*------------------------ Universal Input Styles ----------------------------*/

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 6px 10px;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  background-color: #fff;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

/*----------------------------------------------------------------------------*/

.form_fields {
  margin: 6%;
}

.invalid {
  color: rgb(254, 94, 58);
}

.header_msg {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 900px;
}


header {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 3px 3px 0px rgba(51, 50, 50, 0.35);
  position: relative;
  z-index: 10;
}

footer {
  height: 100px;
  width: 100%;
  box-shadow: 0px -3px 3px 0px rgba(51, 50, 50, 0.35);
  border-top: 1px solid rgb(255, 255, 255);
}

/*------------------------- UPLOAD PAGE STYLING ----------------------------*/

.upload {
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
  width: 70%;
}

.button-holder {
  margin-top: 10px;
  display: block;
}

#upload-img-wrapper, #filename {
  float: left;
}

#confirm-upload {
  float: right;
}


#filename {
  margin-left: 5px;
  font-size: 18px;
  line-height: 38px;
}


#upload-img {
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  font-size: 300px;
  height: 1000px;
  right: 0;
  top: 0;
  position: absolute;
}

#upload-img-wrapper {
  width: 200px;
  background: rgb(110, 161, 208);
  border: 1px solid #bbb;
  border-radius: 4px;
  height: 38px;
  overflow: hidden;
  position: relative;
}

#upload-text {
  text-align: center;
  color: white;
  line-height: 38px;
  font-weight: bold;
}


#upload-img input[type='file'] {
  z-index: 0;
}

.clear {
  clear: both;
}

#add-tag {
  cursor: pointer;
  float: left;
  width: 10%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: black;
  background: rgb(110, 161, 208);
}

#tag {
  float: left;
  width: 90%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#added-tags {
  margin-top: 10px;
  height: 70px;
  margin-bottom: 10px;
}

.tag {
  float: left;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgb(252, 157, 45);
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

/*------------------------- GALLERY STYLING --------------------------------*/
.comment-box-header {
  color: white;
  padding-top: 4px;
}
#comment-box {
  display: none;
  position: absolute;
  width: 300px;
  height: 95px;
  border-radius: 10px;
  background: radial-gradient(rgb(176, 174, 174), #504c4c);
  box-shadow: 1px 1px 10px black;
}

#comment-box textarea {
  width: 90%;
  margin-left: 5px;
  font-size: 12px;
}

#add-comment {
  display: block;
  margin: 0 auto;
  width: 130px;
}

.comment-box-header {
  text-align: center;
  background: rgb(93, 93, 93);
  width: 300px;
}

#task-menu {
  display: none;
  position: absolute;
}

.task-text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

#task-menu ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

#task-menu ul li {
  background: rgb(84, 84, 84);
  color: white;
  border-bottom: 1px solid rgb(47, 47, 47);
  font-size: 14px;
  padding: 10px;
}

#task-menu ul li:hover {
    background: rgb(184, 184, 184);
}

.showcase-title {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

.showcase-box {
  margin-top: 10px;
}

.showcase-click-box {
  border: 5px solid #504c4c;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background: rgb(45, 45, 45);
}

.marker-image-comment {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  border: 1px solid;
}

.image-comment {
  margin-top: -20px;
  margin-left: 15px;
  z-index: 20;
  position: relative;
  width: 190px;
  height: 90px;
  background: rgb(110, 107, 107);
  border: 1px solid rgb(48, 48, 48);
  color: white;
  display: none;
  border-radius: 10px;
  padding-bottom: 10px;
}

.image-comment-author {
  background: linear-gradient(rgb(131, 131, 131), rgb(74, 74, 74));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(48, 48, 48);
}

.image-comment-text {
  color: white;
  font-size: 12px;
  padding: 7px;
}

.showcase-image-box {
  padding: 0;
  margin: 0;
}

#showcase-image {
  width: 100%;
  height: 500px;;
}


.image-info {
  margin-top: 10px;
}
.image-stats {
  width: 30%;
}

.image-tip {
  width: 43%;
  text-align: center;
  font-style: italic;
}

.comment-modifier {
  margin: 0 auto;
  width: 25%;
}

#change-comment-state {
  width: 100%;
  background: linear-gradient(rgb(100, 66, 254), rgb(75, 45, 209));
  border: 2px solid rgb(49, 6, 244);
  border-radius: 5px;
  outline: none;
}

#change-comment-state:active {
  background: linear-gradient(rgb(70, 36, 224), rgb(45, 15, 180));
}

.stat, .stat-print, .stat-icon, .image-uploader, .image-tip {
  float: left;
}

.image-uploader {
  float: right;
  background: rgb(143, 143, 143);
  padding: 4px;
}

.upload-text {
  text-shadow: 1px 1px 1px black;
  color: white;
  font-size: 18px;
}

.upload-user {
  text-shadow: 1px 1px 1px black;
  color: rgb(7, 173, 244);
  font-size: 18px;
}

.upload-user:hover {
  text-decoration: underline;
}

.stat {
  margin-right: 10px;
}

.stat-icon {
  background: rgb(143, 143, 143);
  width: 45px;
  height: 45px;
  text-align: center;
  display: inline-block;
}

.stat-icon::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-top: 10px;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.stat-print {
  margin-left: 4px;
  line-height: 50px;
}


#like-icon {
  color: white;
}


/*------------------------- GALLERY SEARCH --------------------------------*/
.gallery_header {
  margin: 20px auto;
  width: 40%;
  position: relative;
}

.suggested_search {
  position: relative;
  width: 70%;
  background: red;
  display: none;
}

#loadit {
  display: none;
  margin: 0 auto;
  width: 125px;
}
#load {
  margin-top: 40px;
  width: 125px;
  height: 125px;
}

.search_wrap {
  margin: 0 auto;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  width: 99%;
}

.suggested_search ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.suggested_search ul li {
  background: rgb(233, 233, 233);
  border-bottom: 1px solid black;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 5px;
  width: 100%;
}


#searchbar {
  width: 70%;
  float: left;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchbox {
  height: 38px;
  line-height: 38px;
  background: rgb(65, 176, 212);
  width: 30%;
  float: left;
}

/*-----------------------------------------------------------------------------*/


.gallery_container {
  margin: 0 auto;
  background-color: rgb(205, 203, 203);
  width: 100%;
  overflow: hidden;
  padding-bottom: 30px;
}

.gallery {
  margin: 0 auto;
  width: 80%;
  padding: 30px;
}

.gallery img {
  width: 100%;
  height: 100%;
}

/* -------------------- POST STYLING ------------------------------------ */

.white {
  text-shadow: 0.3px 0.7px 0px black;
  color: white;
  font-size: 12px;
}

.user {
  text-shadow: 0.3px 0.5px 0px black;
  color: rgb(7, 173, 244);
  font-size: 12px;
}

.user:hover {
  text-decoration: underline;
}

.bottom {
  margin-top: -2px;
}

.post {
  width: 23.7%;
  height: 150px;
  background-color: #181817;
  border: 3px solid #504c4c;
  margin: 12px 4px;
  position: relative;
  float: left;
  border-radius: 4px;
  /*box-shadow: 0px 3px 4px rgba(3, 3, 3, 0.53);*/
}

.section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section:hover .black-overlay {
  opacity: 0;
}

.section:hover .info-overlay {
  opacity: 1;
}

.black-overlay {
  overflow: hidden;
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 0.5s opacity;
}

.info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s opacity;
}

.pull-top {
  width: 100%;
  top: 0;
  left: 0;
}

.image-title {
  font-size: 14px;
  margin-top: 3px;
  margin-left: 6px;
  color: white;
}

.pull-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

.likes, .views {
}

.likes {
  display: inline-block;
  float: left;
}

.like-title, .like-count, .view-title, .view-count {
  float: left;
}

.like-title, .view-title {
  margin-right: 3px;
}


.views {
  float: right;
}

.img-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));*/
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: 0.5s opacity;
}

.img-overlay:hover {
  opacity: 1;
  border-radius: 10px;
}

/*--------------------------- Profile Snippets ----------------------------------*/

.snippet {
  background: radial-gradient(rgb(131, 131, 131), #504c4c);
  width: 23.7%;
  height: 210px;
  float: left;
  border-radius: 20px;
  margin: 12px 4px;
  position: relative;
  padding: 0;
  border: 1px solid #3e3b3b;
}

.snippet-username {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: linear-gradient(rgb(96, 195, 220), rgb(62, 136, 154));
  text-align: center;
  color: white;
  font-size: 24px;
  border-bottom: 1px solid #3e3b3b;
}

.snippet-avatar {
  margin: 12px auto;
  display: block;
  width: 50%;

}

.snippet-avatar img {
  width: 100%;
  height: 140px;
  border-radius: 200px;
  border: 1px solid #3e3b3b;
}

/*--------------------------- Comment Posts ----------------------------------*/

.comment-post {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 800px;
  font-size: 16px;
  padding: 8px;
}

#post-btn {
  background-color: #98dafc;
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
}

#post-btn:hover {
  background-color: #86c8ea;
}

.posts {
  width: 90%;
  margin: 0 auto;
  color: #888;
}

.posts p {
  padding: 4px 10px;
}

/*----------------------------------------------------------------------------*/

/*------------------------- Media Queries ------------------------------------*/

@media (min-width: 320px) {
  .container {
    margin: 0;
    padding: 0;
    height: 700px;
  }

  #navbar {
    height: 82px;
    margin: 0;
    padding: .5%;
    background-color: rgb(236, 74, 254);
    background-color: rgb(97, 234, 160);
    background-color: #eee;
    background-color: #312c32;
    border-bottom: 1px solid #ccc;
  }

  .nav_menu {
    width: 188px;
    margin: 0 auto;
  }

  #upload_btn {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgb(97, 234, 160);
    height: 38px;
    padding: 0 30px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
  }

  #login_btn {
    width: 116px;
    margin: 0 auto;
    margin-top: 4px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgb(108, 209, 234);
    background-color: #98dafc;
    height: 38px;
    padding: 0 30px;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
  }
}

/*----------------------------------------------------------------------------*/
/*                                                                            */
/*                            Min-width 1080px                                */
/*                                                                            */
/*----------------------------------------------------------------------------*/

@media (min-width: 1080px) {

  #navbar {
    height: 40px;
  }

  .nav_menu {
    float: right;
    width: auto;
  }

  #login_btn {
    margin: inherit;
    margin-top: inherit;
    width: inherit;
    display: inline-block;
  }

  .pro_container {
    width: 90%;
    margin: 0 auto;
  }

  .profile_img {
    width: 280px;
    height: 240px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #98dafc;
    z-index: 999;
    float: left;
    position: relative;
    background-image: url('/imgs/profile_img.png');
    background-size: cover;
  }

  .profile_img a {
    text-decoration: none;
    color: white;
    padding: 4px;
  }

  .profile_img a:hover {
    text-decoration: underline;
    font-weight: 600;
  }

  #prof-img-foot {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: right;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #prof-img-foot p {
    margin-right: 10px;
  }

  .slideshow {
    float: right;
    width: 70%;
    height: 400px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  .slideshow_wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  #slider {
    position: relative;
    height: inherit;
    width: inherit;
    /*height: 400px;*/
    /*width: 880px;*/
    /*width: 70%;*/
    padding: 0;
    margin-left: 38px;
  }

  .slider-item {
    max-width: 100%;
    float: left;
    list-style: none;
  }

  .slider-img {
    height: 366px;
    /*height: 92.8%;*/
    width: 700px;
    /*width: 91.6666666666%;*/
    /*height: 80%;
    width: 80%;*/
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .contents {
    clear: left;
    z-index: -1;
    position: relative;
  }

/*-------------------------- Profile Properties ------------------------------*/

  .profile_props {
    width: 270px;
    margin-left: 5px;
    margin-top: -10px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    border: 1px solid #ccc;
  }

  #props {
    padding: 10px;
    padding-bottom: 20px;
  }

  #props p {
    text-align: center;
  }

  #region, #gamertags, #platforms {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  #gamertags li, #platforms li {
    list-style: none;
    margin: 4px;
    text-align: left;
  }

  #steam {
    color: orange;
  }

  #psn {
    color: blue;
  }

  #xbl {
    color: #00ff00;
  }

  .status-icon {
    margin: 0;
    margin-bottom: -4px;
    padding: 0;
    width: 20px;
    height: 20px;
  }

  .online {
    display: inline-block;
    background-color: #00ff00;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #ccc;
    width:8px;
    height:8px;
  }

  .offline {
    display: inline-block;
    background-color: #ccc;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #ccc;
    width:8px;
    height:8px;
  }

/*----------------------------------------------------------------------------*/

  .profile-comments {
    float: right;
    background-color: white;
    width: 70%;
    overflow: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding-bottom: 20px;
  }

  .comment-post {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .comment-post textarea {
    height: 100px;
    width: 98%;
  }

  #posts-container span {
    color: #98dafc;
  }

  #posts-container span:hover {
    color: orange;
  }

  #posts-container a:hover {
    font-weight: 600;
  }
}


/*--------------------------  Min-width 1382px -------------------------------*/
@media (min-width: 1382px) {

  #prof-img-foot p {
    margin-right: 10px;
  }

  .slideshow {
    width: 960px;
    height: 500px;
  }

  .slideshow_wrapper {
    width: 100%;
    height: 100%;
  }

  #slider {
    /*height: 420px;
    width: 880px;*/
    margin-left: 38px;
    /*margin-left: 4.318181818182%;*/
  }

  .slider-img {
    height: 464px;
    width: 880px;
  }

  .profile-comments {
    width: 960px;
  }

}
